<p style=" background-color: rgb(255, 253, 127); height: 20px;" ></p>

<div class="container" style="width: 100%">
  <div class="row">
    <div class="col">
      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let item of slides">
          <div class="picsum-img-wrapper">
            <img src="{{ item.image }}" alt="Random first slide" width="100%">
          </div>
          <div class="carousel-caption">
            <h3>{{ item.text }}</h3>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>
