<div class="row">
  <div class="col-8 offset-2">
    <form>
      <div class="form-group">
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
      </div>
      <div class="col">
        <button type="submit" class="btn btn-warning">Log in</button>
      </div>
      <div class="col">
        <a (click)="openSingUp()" >   <b>Kreiraj novi nalog</b> </a>
      </div>
    </form>
  </div>
</div>
