
<div class="card" (click)="openMenu()" >
  <div class="row">
    <div class="col">
      <h3><b>Ime ljubimca: </b>{{pet.name}}</h3>
      <h6><b>Kategorija:</b> {{pet.category}}</h6>
      <h6><b>Rasa:</b> {{pet.breed}}</h6>
      <h6><b>Starost:</b> {{pet.age}} {{age}} </h6>
      <h6><b>Pol:</b> {{pet.gender}}</h6>
      <h6><b>Vlasnik:</b> {{userFirstName}} {{userLastName}} </h6>
    </div>
    <div class="col" id="img">
      <img src="../assets/img/png-clipart-cat-paw-dog-cat-animals-paw-thumbnail.png" alt="">
    </div>
  </div>

</div>
