.text {
  text-align: end;
  padding-right: 10px;
}
.wellcome {
  background-color: rgb(255, 253, 127);
  text-align: end;
}


.card {
  padding: 10px;
width: auto;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width:768px)  {
  .row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

}
