nav {
  background-color: rgb(255, 253, 127);

}

.brand {
  width: 3%;
  margin-left: 10px;
    color: rgb(74, 121, 123);

}
*{
  color: rgb(74, 121, 123);
}
@media screen and (max-width:768px){
  .brand {
    width: 10%;

  }
}
