<div class="wellcome">
        <a class="nav-link" [routerLink]="['/user/', user._id]">Zdravo, <b> {{user.firstName}} {{user.lastName}}</b>! Tvoj ID je <b>{{user._id}}</b> </a>
</div>

<div class="row" id="userComponent">
  <div class="col">
    <div class="single row">
      <div class=" col">
        <h3><b>Ime ljubimca: </b>{{pet.name}}</h3>
        <h6><b>Kategorija: </b>{{pet.category}}</h6>
        <h6><b>Rasa: </b>{{pet.breed}}</h6>
        <h6><b>Starost: </b>{{pet.age}} {{_age}}</h6>
        <h6><b>Pol: </b>{{pet.gender}}</h6>
      </div>

      <div class="col">
        <img src="../assets/img/png-clipart-cat-paw-dog-cat-animals-paw-thumbnail.png" alt="" width="50%">
      </div>

      <div class="row-2">
        <button class="btn btn-warning" (click)="onclick()"  *ngIf="!showText">Izmeni podatke o svom ljubimcu</button>
      </div>
      <div class="row-2">
        <button class="btn btn-warning" (click)="onclick()" *ngIf="showText" >Dodaj svog ljubimca</button>
      </div>
    </div>
  </div>

  <div class="allPets" >
    <h5>Ostali korisnici My Pets aplikacije:</h5>
    <div *ngFor="let item of pets">
      <app-pets [pet]="item"></app-pets>
    </div>
  </div>

</div>

