.text {
  text-align: end;
  padding-right: 10px;
}
.wellcome {
  background-color: rgb(255, 253, 127);
  text-align: end;
}

.allPets{
 width: 40%;


}

.col{
  padding: 10px;
}

.brand {
  margin-left: 10px;
}

.card-item {
  margin-left: 10px;
}

form {
  margin-top: 20px;
}
b {
  color: goldenrod;
}
*{
  color: rgb(74, 121, 123);
}

@media screen and (max-width:768px) {
  .single{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #userComponent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .allPets{
    width: 80%;
    text-align: center;
   }

}
