.card {
  background-color: rgba(250, 250, 210, 0.362);
  padding: 10px;

}

.self{
  margin: 10px 0;
}

button {
  margin-bottom: 10px;
}

#img{
  display: flex;
  justify-content: end;
  flex-direction: row;
}

b {
  color: goldenrod;
}

*{
  color: rgb(74, 121, 123);
}
img{
  width: 50%;
}

@media screen and (max-width:768px)  {
  .row{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .col{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #img{
    display: flex;
    justify-content: center;
  }


}
